*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
header{
	
	
}
.wish{
    
    width: 100%;
	height:500px;
	background-image: url("images/1.gif");
	position:relative;
	background-repeat: no repeat;
	background-position:center;
	background-size:cover;
}
.hello{
	width: 100%;
	height: 500px;
	background-image: url("images/wed.gif");
	position:absolute;
	background-repeat: no repeat;
	background-position:center;
	background-size:cover;
	border: 1px double green;
    border-radius: 245px;
}

h1,h2,h3,h4{
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	

}	
h2{

	letter-spacing: 4rem;
	word-spacing: 40px;
    text-shadow: 5px 8px 4px darkblue;
}
h1{
   word-spacing: 20px;

   text-shadow: 5px 8px 4px darkgreen;
}
h3{
   word-spacing: 20px;
   letter-spacing: 1rem;
   text-shadow: 5px 8px 4px darkgreen;
}
h4{
   word-spacing: 20px;
   letter-spacing: 1rem;
   text-shadow: 5px 8px 4px darkgreen;
}